#hero {
  background: url(/img/hero_background.jpg) no-repeat fixed center/cover;
  height: 100vh;
  max-height: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include overlay;
  &::after {
    opacity: 0.5;
  }
  #arrow {
    position: fixed;
    z-index: 99;
    width: 40px;
    height: 40px;
    background: $light_grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 1rem;
    right: 5vw;
    bottom: 5vw;
    transform: translate3d(0, 0, 0);
    &:hover {
      cursor: pointer;
    }
  }
  #hero_content {
    position: relative;
    z-index: 2;
    color: $light_grey;
    padding: 2rem;
    text-align: center;
    h1 {
      margin-bottom: 1rem;
    }
  }
}
