#navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: 250ms ease-in-out;
  .main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    a {
      font-weight: 500 !important;
      color: $light_grey;
    }
    #navbar_one {
      white-space: nowrap;
      a {
        font-weight: 800 !important;
      }
    }
    #navbar_two {
      a {
        margin-right: 2rem;
        font-weight: 400;
      }
      :last-child {
        margin: 0;
      }
    }
    #navbar_three {
      display: none;
    }
  }
}
