@import "./utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: $light_grey;
  overflow-x: hidden;
  scroll-behavior: smooth;
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.7rem;
    font-weight: 200;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// sections

@import "./navbar";
@import "./hero";
@import "./about";
@import "./team";
@import "./transition";
@import "./clients";

// media queries

@import "./mq_utilities";
@import "./mq_navbar";
@import "./mq_hero";
@import "./mq_about";
@import "./mq_team";
@import "./mq_clients";
